/*
    多行注释，就是CSS的注释方式，会被编译出来
*/
.box1 {
  width: 123px;
  height: 123px;
  margin: auto;
}
.box2 {
  height: 456px;
  width: 456px;
}
ul {
  list-style-type: disc;
}
ul li {
  float: left;
}
ul li div {
  margin: 123px;
}
ul li p {
  margin: 123px;
}
ul:hover {
  color: red;
}
.box3 {
  width: 300px;
  height: 120px;
  max-width: 110px;
  margin: 110em;
  padding: 13.33333333px;
  font: 20px / 1.5;
  margin: 20px / 1.5;
  color: #020406;
}
.box4 {
  width: 4px;
  height: 20%;
  margin: random();
  padding: 5%;
}
.show {
  display: 'block';
}
.box5 {
  width: 100px;
  display: 'block';
  display: none;
  color: blue;
}
.box6 {
  display: inline;
}
.box7 {
  display: inline;
}
.line,
.box6,
.box7 {
  display: inline;
}
.box8 {
  background: url(a.png), url(b.png);
  transform: scale(2) rotate(20deg);
}
.box9 {
  width: 100px;
}
@media screen and (min-width: 768px) {
  .box9 {
    width: 600px;
  }
}
@media screen and (min-width: 1440px) {
  .box9 {
    width: 900px;
  }
}
.box10 {
  width: 105px;
}
.box-2 {
  width: 102px;
}
.box-1 {
  width: 101px;
}
.box-0 {
  width: 100px;
}
* {
  margin: 0;
  padding: 0;
}
